

<blockquote class="blockquote text-right">
<p class="lead">"The Best Burgers in the World"</p>
<footer class="blockquote-footer">Alexander Wong<cite title="Source Title"></cite></footer>
</blockquote>

<table class ="table table-hover" >
  <thead class = "thead-dark">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Contains</th>
      <th>Cost</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
        
        <tr>
          <td><%= ingredient.name %></td>
          <td><%= ingredient.quantity %></td>
          <td><%= ingredient.completed %></td>
          <td><%= '$1.00' %></td>
          <td><%= link_to 'Show', ingredient, class: 'btn btn-outline-primary' %></td>
          <td><%= link_to 'Edit', edit_ingredient_path(ingredient), class: 'btn btn-outline-secondary'%></td>
          <td><%= link_to 'Delete',  ingredient, class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path, class: 'btn btn-info' %>
<a href="ingredients/checkout" class = 'btn btn-success'>Checkout</a>